<button (click)="this.startTrafficLights()" style="margin-bottom: 16px;"> Start Traffic
  Lights</button>

<div style="display: grid; grid-template-columns: auto 1fr auto;">
  <app-traffic-light direction="vertical" [startIndex]="0" [isFailure]="this.failureTrafficLights" />
  <div style="display: flex; align-items: center; justify-content: space-between; flex-direction: column;">
    <app-traffic-light direction="horizontal" [startIndex]="2" [isFailure]="this.failureTrafficLights" />
    <button style="padding: 8px;" [disabled]="this.failureTrafficLights" (click)="this.startFailureTrafficLights()">
      Failure
    </button>
    <app-traffic-light direction="horizontal" [reversed]="true" [startIndex]="2"
      [isFailure]="this.failureTrafficLights" />
  </div>
  <app-traffic-light direction="vertical" [reversed]="true" [startIndex]="0" [isFailure]="this.failureTrafficLights" />
</div>